*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

img{
    width: 30%;
}

header{
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    padding: 1rem;
    background-color:rgb(252, 250, 127);
}

div#preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}


div#preguntas .pregunta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100% 0;
    border-bottom: 1px solid white ;
    margin: 1rem;
    padding: 1rem;
}

div#preguntas button{
   width: 50%;
   margin: 1rem auto;
   padding: 1rem;
   background-color: rgb(217, 250, 127);
   font-weight: bold;
   color: rgb(0, 0, 0)
}


div#preguntas .pregunta h3{
    text-align: center;
    flex: 100% 0;
}

div#preguntas .pregunta button{
    flex:15% 0;
}

div#preguntas .pregunta button{
    margin: .5rem;
    padding: .5rem;
    background-color: rgba(252, 231, 47, 0.74);
    color: white;
    font-weight: bold;
}

div#preguntas button[disabled]{
  background-color: white;
  color: black;
}

