div.formulario {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

div.mb-3 {
  display: flex;
  flex-direction: row;
}

div.mb-3:nth-child(1) {
  margin-top: 2rem;
}


div.mb-3 label {
  flex: 30% 0;
  text-align: center;
  border: black solid 1px;
  margin-right: 1rem;
}

div.mb-3 input {
  flex: 70% 0;
  text-align: center;
  border: black solid 1px;
}

form > div:nth-child(6) > label,
form > div:nth-child(7) > label,
form > div:nth-child(8) > label,
form > div:nth-child(9) > label
{
  flex: 90% 0 0;
}

form > div:nth-child(6) > input,
form > div:nth-child(7) > input,
form > div:nth-child(8) > input,
form > div:nth-child(9) > input
{
  padding: .5rem;
}

div#respuesta h1{
  font-weight: bold;
}

div#respuesta h1 span{
  font-weight: bold;
  color: red;
}

